<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LampungInV01">
                <activity
                    android:name=".AspirasiActivity"
                    android:exported="false"
                    android:screenOrientation="portrait" />
                        <activity
                            android:name=".DaruratActivity"
                            android:exported="false"
                            android:screenOrientation="portrait" />
                                <activity
                                    android:name=".KesehatanActivity"
                                    android:exported="false"
                                    android:screenOrientation="portrait" />
                                        <activity
                                            android:name=".KependudukanActivity"
                                            android:exported="false"
                                            android:screenOrientation="portrait" />
                                                <activity
                                                    android:name=".InfoLokasiActivity"
                                                    android:exported="false"
                                                    android:screenOrientation="portrait" />
                                                        <activity
                                                            android:name=".PendidikanActivity"
                                                            android:exported="false"
                                                            android:screenOrientation="portrait" />
                                                        <activity
                                                            android:name=".BeasiswaDetailActivity"
                                                            android:exported="false"
                                                            android:screenOrientation="portrait" />
                                                                <activity
                                                                    android:name=".InformasiPublikActivity"
                                                                    android:exported="false"
                                                                    android:screenOrientation="portrait" />
                                                                        <activity
                                                                            android:name=".SosialKeagamaanActivity"
                                                                            android:exported="false"
                                                                            android:screenOrientation="portrait" />
                                                                                                                                        <activity
                                                                                                                                            android:name=".KarirUsahaActivity"
                                                                                                                                            android:exported="false"
                                                                                                                                            android:screenOrientation="portrait" />
                                                                                                                                        <activity
                                                                                                                                            android:name=".LowonganKerjaActivity"
                                                                                                                                            android:exported="false"
                                                                                                                                            android:screenOrientation="portrait" />                                                                                        <activity
                                                                                            android:name=".LingkunganActivity"
                                                                                            android:exported="false"
                                                                                            android:screenOrientation="portrait" />
                                                                                                <activity
                                                                                                    android:name=".PerekonomianActivity"
                                                                                                    android:exported="false"
                                                                                                    android:screenOrientation="portrait" />
                                                                                                <activity
                                                                                                    android:name=".MenuSpesialActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReportGuidelinesActivity" />
        <activity android:name=".MakeReportActivity" />
        <activity android:name=".TakePhotoActivity" />
        <activity android:name=".LocationReportActivity" />
        <activity android:name=".ReportDetailActivity" />
        <activity android:name=".ReviewReportActivity" />
        <activity android:name=".ReportSuccessActivity" />
        <activity android:name=".ActivitySimulatedHistory" />
        <activity android:name=".RiwayatLaporanActivity" />
        <activity android:name=".DetailRiwayatActivity" />
        <activity android:name=".ProgressLaporanActivity" />
        <activity android:name=".EmptyHistoryActivity" />
        <activity android:name=".NotificationDetailActivity" />
        <activity android:name=".FeaturedActivity" />
        <activity android:name=".CitizenReportActivity" />
        <activity android:name=".PajakActivity" />
        <activity android:name=".BeritaActivity" />
        <activity android:name=".PaymentMethodActivity" />
        <activity android:name=".KodeQrisActivity" />
        <activity android:name=".PaymentSuccessActivity" />
        <activity android:name=".PaymentReceiptActivity" />
        <activity android:name=".PaymentHistoryActivity" />
        <activity android:name=".VehicleInfoActivity" />
        <activity android:name=".DetailBeritaActivity" />
        <activity android:name=".RsjActivity" />
        <activity android:name=".PendaftaranRsjActivity" />
        <activity android:name=".BiodataDiriActivity" />
        <activity android:name=".AlamatActivity" />
        <activity android:name=".InformasiLainnyaActivity" />
        <activity android:name=".PilihLayananActivity" />
        <activity android:name=".PaymentMethodRsjActivity" />
        <activity android:name=".PaymentReceiptRsjActivity" />
        <activity android:name=".RiwayatPendaftaranActivity" />
        <activity android:name=".RegisterNameActivity" 
            android:screenOrientation="portrait" />
        <activity android:name=".RegisterUsernameActivity" 
            android:screenOrientation="portrait" />
        <activity android:name=".RegisterEmailActivity" 
            android:screenOrientation="portrait" />
        <activity android:name=".RegisterPasswordActivity" 
            android:screenOrientation="portrait" />
        <activity android:name=".RegisterPhoneActivity" 
            android:screenOrientation="portrait" />
        <activity android:name=".RegisterTermsActivity" 
            android:screenOrientation="portrait" />
        <activity android:name=".RegisterSuccessActivity" 
            android:screenOrientation="portrait" />
        <activity android:name=".KontakDaruratActivity" />
        <activity android:name=".InfoAmbulansActivity" />
        <activity android:name=".BankDarahActivity" />
        <activity android:name=".WifiActivity" />
        <activity android:name=".RptraActivity" />
        <activity android:name=".RthActivity" />
        <activity android:name=".BankActivity" />
        <activity android:name=".PerpustakaanActivity" />
        <activity android:name=".SaranaOlahragaActivity" />
        <activity android:name=".BusStopActivity" />
        <activity android:name=".StasiunActivity" />
        <activity android:name=".TamanRekreasiActivity" />
        <activity android:name=".KulinerActivity" />
        <activity android:name=".BelanjaActivity" />
        <activity android:name=".DestinasiAlamActivity" />
        <activity android:name=".KebudayaanActivity" />
        <activity android:name=".ReligiActivity" />
        <activity android:name=".HotelActivity" />
        <activity android:name=".CekHargaPanganActivity" />
        <activity android:name=".KomoditasActivity" />
        
    </application>

</manifest>